
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>MVC Application</h3>
<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Update</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Education</td>
        <td>Description OK</td>
        <td>True</td>
        <td><button class="btn btn-success">Update</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Description ok</td>
        <td>True</td>
        <td><button class="btn btn-success">Update</button></td>

    </tr>
    <tr>
        <td>3</td>
        <td>Book</td>
        <td>Description ok</td>
        <td>True</td>
        <td><button class="btn btn-success">Update</button></td>

    </tr>
    <tr>
        <td>4</td>
        <td>Cinema</td>
        <td>Description waiting</td>
        <td>True</td>
        <td><button class="btn btn-success">Update</button></td>

    </tr>
</table>
<button class="btn btn-info">New Category</button>
<button class="btn btn-primary">Category List</button>
<button class="btn btn-danger">Category Description</button>