@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kepez<br />
    Antalya, Turkey<br />
    <abbr title="Phone">P:</abbr>
    0242.000.0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ozgehulyadurgut@gmail.com">ozgehulyadurgut@gmail.com</a><br />
</address>