@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OZGE DURGUT</h1>
    <p class="lead">A passionate Electrical Electronics Engineer from Turkey</p>
    <p><a href="https://www.linkedin.com/in/ozgedurgut/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            I completed my university education at Istanbul Bilgi University - Electrical and Electronics Engineering department.
            I continue to improve myself day by day in the field of software and I love it.
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/channel/UCOROQ_-1cwSWrlU1ikC9_LQ">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Github</h2>
        <p>I use my Github account both to be an archive for myself and to benefit people in need.</p>
        <p><a class="btn btn-default" href="https://github.com/ozgedurgut">Learn more &raquo;</a></p>
    </div>
</div>